{% extends "base.html" %}
{% block content %}
  <h2>Basket</h2>
  {% if formset %}
    <p>You can adjust the quantities below.</p>
    <form method="POST">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        <p>
          {{ form.instance.product.name }}
          {{ form }}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-default">Update basket</button>
      {% if user.is_authenticated %}
        <a href="{% url "address_select" %}" class="btn btn-primary">Place order</a>
      {% else %}
        <a
          href="{% url "signup" %}?next={% url "address_select" %}"
          class="btn btn-primary">Signup</a>
        <a
          href="{% url "login" %}?next={% url "address_select" %}"
          class="btn btn-primary">Login</a>
      {% endif %}
    </form>
  {% else %}
    <p>You have no items in the basket.</p>
  {% endif %}
{% endblock content %}
{% block js %}
  {% if formset %}
    {{ formset.media }}
  {% endif %}
{% endblock js %}
